.file-upload-wrapper {
    margin-right: 0.5rem;
}

.memori--upload-file-input {
    display: none;
}

.memori--upload-button {
    /* position: absolute; */
    right: 160px;
    bottom: 8px;
    padding: 8px;
    border: none;
    background: transparent;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.memori--upload-button:disabled {
    cursor: not-allowed;
    opacity: 0.6;
}

.memori--upload-button:hover:not(:disabled) {
    background-color: rgba(128, 128, 128, 0.1);
}

.memori--upload-icon {
    width: 20px;
    height: 20px;
}

.memori--conversation-button:hover .memori--upload-icon {
    fill: var(--memori-primary);
    transition: fill 0.2s ease;
}

.memori--error-message-container {
    position: absolute;
    z-index: 1000;
    right: 0;
    bottom: 50%;
    width: 100%;
}