.memori--gamification-badge {
    position: absolute;
    right: 0.25rem;
    bottom: -1.25rem;
    display: flex;
    width: 2rem;
    height: 2rem;
    align-items: center;
    justify-content: center;
    border: 1.5px solid var(--memori-primary);
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 0 5px 6px rgba(255, 255, 255, 0.5);
}

.memori--gamification-badge span {
    font-size: 1.2rem;
}

.memori--start-panel {
    width: 100%;
    align-self: flex-start;
    padding: var(--memori-inner-content-pad, 0);
    border-radius: 10px;
    margin-top: 2rem;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: var(--memori-inner-bg, transparent);
    color: var(--memori-text-color, rgba(0, 0, 0, 0.85)) !important;
}

.memori--start-panel .memori--start-panel-title {
    color: var(--memori-text-color, var(--memori-primary)) !important;
}

.memori--start-panel .memori--start-panel-description {
    color: var(--memori-text-color, rgba(0, 0, 0, 0.85)) !important;
}

@media (max-width: 870px) {
    .memori--start-panel {
        margin-top: 1rem;
    }
}

.memori--cover {
    position: relative;
    width: 100%;
    padding-top: 31.25%;
    border-radius: 3px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.memori--avatar {
    position: relative;
    z-index: 0;
    top: -20px;
    display: inline-flex;
    overflow: hidden;
    width: 60px;
    height: 60px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 10px;
    background: #fff;
    box-shadow: 0 0 5px rgba(50, 50, 50, 0.3);
}

.memori--avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.memori--title {
    display: inline-block;
    margin: 0;
    color: var(--memori-primary);
    font-size: 24px;
    font-weight: 600;
    line-height: 1.8;
}

.memori--description,
.memori--needsPosition {
    color: var(--memori-text-color, rgba(0, 0, 0, 0.85));
    font-size: 14px;
    line-height: 1.6;
}

.memori--description-text {
    display: block;
}

.memori--translation-toggle {
    height: auto;
    padding-right: 0;
    padding-left: 0;
    color: var(--memori-primary);
    font-size: 0.85em;
}

.memori--start-description {
    margin-top: 0.5rem;
    font-size: 0.85em;
    opacity: 0.85;
}

.memori--start-button {
    margin-right: 1em;
}

.memori--language-chooser {
    margin-bottom: 1rem;
}

.memori--language-chooser svg {
    margin-right: 0.5rem;
}

.memori--language-chooser select,
.memori--language-chooser .memori--select {
    min-width: 7rem;
    margin-left: 0.5rem;
}

.memori--language-chooser select option {
    background: #fff;
    color: #000;
}

.memori--completions-enabled,
.memori--board-of-experts,
.memori--nsfw {
    position: absolute;
    right: 0.25rem;
    bottom: -1.25rem;
    display: flex;
    width: 2rem;
    height: 2rem;
    align-items: center;
    justify-content: center;
    border: 1.5px solid var(--memori-primary);
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 0 5px 6px rgba(255, 255, 255, 0.5);
    color: #000;
}

.memori--completions-enabled span {
    font-size: 1.2rem;
}

.memori--completions-enabled svg {
    overflow: visible;
    width: 1rem;
    height: 1rem;
}

.memori--board-of-experts + .memori--nsfw,
.memori--completions-enabled + .memori--nsfw {
    right: 2.5rem;
}

.memori--board-of-experts svg {
    overflow: visible;
    width: 1rem;
    height: 1rem;
    fill: #000;
}

.memori--deep-thought-disclaimer {
    position: relative;
    padding: 1em 1.5em;
    border: 2px solid var(--memori-warning-color, #faad14);
    border-radius: var(--memori-border-radius, 10px);
    margin-top: 1rem;
    font-size: 0.8em;
}

.memori--deep-thought-disclaimer::before {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--memori-warning-color, #faad14);
    content: '';
    opacity: 0.2;
}

.memori--deep-thought-disclaimer h2 {
    margin-top: 0;
    margin-bottom: 0.5em;
    color: var(--memori-text-color, rgba(0, 0, 0, 0.85));
}

.memori--deep-thought-disclaimer .memori-tooltip {
    position: relative;
    margin-bottom: 1rem;
    margin-left: 1rem;
    float: right;
}

.memori--deep-thought-disclaimer .memori-tooltip .memori-tooltip--trigger svg {
    width: 1.5rem;
    height: 1.5rem;
    padding: 5px;
    border: 1px solid #666;
    border-radius: 50%;
}

.memori--deep-thought-disclaimer a {
    color: inherit;
    text-decoration: underline;
}
