.memori--position-controls {
  position: fixed;
  z-index: 1000;
  top: auto; /* Remove top positioning */
  top: 65px; /* Position from bottom to avoid overlapping with buttons */
  left: 15px; /* Remove left positioning */
  display: flex;
  width: 380px; /* Fixed width */
  max-width: 100%; /* Maximum width relative to screen */
  height: 340px;
  max-height: 340px;
  flex-direction: column;
  padding: var(--memori-spacing-md);
  border-radius: var(--memori-radius-box);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: var(--memori-main-background);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  gap: var(--memori-spacing-sm);
  text-align: left;
  transform: none; /* Remove transform */
}

/* Slider adjustments */
.memori--slider-container {
  display: flex;
  flex-direction: column;
  padding: var(--memori-spacing-sm) 0;
  gap: var(--memori-spacing-md);
}

.memori--slider-label {
  color: var(--memori-text-color);
  /* margin-bottom: var(--memori-spacing-sm); */
  font-size: var(--memori-text-size-large);
}

/* Button adjustments */
.memori--preset-buttons {
  display: flex;
  flex-direction: row;
  margin-top: 0px;
  margin-bottom: calc(var(--memori-spacing-sm) + var(--memori-spacing-xs));
  /* justify-content: space-between; */
  /* margin-top: 36px; */
  gap: var(--memori-spacing-sm);
}

.memori--preset-buttons button {
  min-height: 36px;
  flex: 1;
  padding: var(--memori-spacing-sm) var(--memori-spacing-xs);
  font-size: 0.9rem;
}

/* Close button */
.memori--position-controls-close {
  position: absolute;
  top: -25px;
  right: -30px;
  border-radius: 50%;
  background-color: var(--memori-main-background);
}

.memori--position-controls-close-button {
  min-width: 36px;
  min-height: 36px;
  padding: var(--memori-spacing-sm);
}

/* Totem specific adjustments */
@media screen and (max-width: 480px) {
  .memori--position-controls {
    right: 10px;
    bottom: var(--memori-spacing-5xl);
    width: 280px;
  }

  .memori--preset-buttons {
    margin-top: var(--memori-spacing-xl);
  }
  
  .memori--preset-buttons button {
    padding: calc(var(--memori-spacing-xs) + 2px) var(--memori-spacing-xs);
    font-size: 0.85rem;
  }
  
  .memori--slider-container {
    padding: calc(var(--memori-spacing-xs) + 2px) 0;
  }
}

/* Portrait/vertical orientation */
@media screen and (min-height: 800px) {
  .memori--position-controls {
    bottom: 120px;
  }

  /* .memori--preset-buttons {
    margin-top: var(--memori-spacing-xl);
  } */
  
  .memori--slider-label {
    font-size: 1.1rem;
  }
  
  .memori--preset-buttons button {
    padding: calc(var(--memori-spacing-sm) + 2px) calc(var(--memori-spacing-xs) + 2px);
    font-size: var(--memori-text-size-base);
  }
}