.memori--completion-provider-status--icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
    font-size: var(--memori-text-size-base);
  }
  
  .memori--completion-provider-status--loading {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  
  .memori--completion-provider-status--icon-error {
    color: var(--memori-text-color);
  }
  
  .memori--completion-provider-status--icon-warning {
    color: var(--memori-text-color);
  }
  
  .memori--completion-provider-status--icon-info {
    color: var(--memori-text-color);
  }
  
  .memori--completion-provider-status--tooltip {
    max-width: 300px;
  }
  
  .memori--completion-provider-status--tooltip p {
    margin-bottom: var(--memori-spacing-sm);
  }
  
  .memori--completion-provider-status--tooltip p:last-child {
    margin-bottom: 0;
  }