.memori--changeMode-instruct {
    display: flex;
    padding: 1rem;
    border-radius: var(--memori-radius-box);
    gap: var(--memori-spacing-sm);
}

.memori--changeMode-instruct-radio {
    display: flex;
}

.memori--changeMode-instruct-radio-button:first-of-type button {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.memori--changeMode-instruct-radio-button:last-of-type button {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.memori--changeMode-instruct-radio-button[data-headlessui-state='checked'] button {
    font-weight: var(--memori-text-weight-semibold);
}
