.memori--powered-by {
    position: absolute;
    z-index: 1000;
    bottom: 1rem;
    left: 0;
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0.25rem 1rem;
    border-radius: var(--memori-radius-box);
    background-color: transparent;
    box-shadow: var(--memori-button-box-shadow);
    color: var(--memori-text-color) !important;
    font-size: 0.7em;
    white-space: nowrap;
}

@media (max-width: 768px) {
    .memori--powered-by {
        top: 3.5rem;
        bottom: auto;
    }
}

.memori--powered-by img {
    max-width: 2rem;
    max-height: 2rem;
    margin-right: 0.25rem;
}

.memori--powered-by p {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--memori-text-color) !important;
}

.memori--powered-by a {
    color: var(--memori-text-color) !important;
    text-decoration: underline;
}

.memori--powered-by a:hover,
.memori--powered-by a:focus {
    color: var(--memori-text-color) !important;
    opacity: 0.8;
    text-decoration: underline;
}