.memori-sidebar-container {
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    height: 100%;
}

.memori-sidebar-toggle {
    display: none;
}

.memori-sidebar-toggle-label {
    position: absolute;
    top: 50%;
    right: 0;
    display: flex;
    width: auto;
    height: 80px;
    align-items: center;
    justify-content: center;
    padding: 10px 5px;
    background-color: var(--memori-primary);
    color: white;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    text-orientation: mixed;
    transform: translateY(-50%);
    transition: all 0.3s ease-in-out;
    writing-mode: vertical-rl;
}

.memori-open-label {
    border-radius: 5px 0 0 5px;
}

.memori-close-label {
    right: 350px;
    border-radius: 0 5px 5px 0;
    opacity: 0;
    pointer-events: none;
    transform: rotate(180deg);
}

.memori-sidebar {
    position: fixed;
    z-index: 1000;
    top: 0;
    right: -350px;
    width: 350px;
    height: 100%;
    background-color: white;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    transition: right 0.3s ease-in-out;
}

.memori-sidebar-content h2 {
    margin-bottom: 20px;
    color: var(--memori-primary);
    font-size: 24px;
    font-weight: bold;
}

.memori-sidebar-content ul {
    padding: 0;
    list-style-type: none;
}

.memori-sidebar-content li {
    margin-bottom: 10px;
}

.memori-sidebar-content a {
    display: flex;
    align-items: center;
    color: #4b5563;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

.memori-sidebar-content a:hover {
    color: var(--memori-primary);
}

.memori-sidebar-content svg {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.memori-sidebar-toggle:checked ~ .memori-sidebar-container .memori-sidebar {
    right: 0;
}

.memori-sidebar-toggle:checked ~ .memori-sidebar-container .memori-open-label {
    opacity: 0;
    pointer-events: none;
    transform: translateY(-50%) translateX(350px);
}

.memori-loading {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}


.memori-sidebar-content {
    position: absolute;
    top: -10px;
    width: 100%;
    padding: 20px;
}

.memori-sidebar-toggle:checked ~ .memori-sidebar-container .memori-close-label {
    opacity: 1;
    pointer-events: auto;
}

.memori-hidden-chat-layout--controls {
    display: flex;
    height: 90%;
    padding: 10px;
    margin-top: 50px;
}

.memori-hidden-chat-layout-header--layout {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
    margin: 0;
    background-color: white;
    color: white;
}

.memori-hidden-chat-layout-header--layout > button, .memori-hidden-chat-layout-header--layout > div > button {
    display: flex;
    width: 38px;
    height: 38px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    aspect-ratio: 1;
    background-color: var(--memori-primary);
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.memori-button--icon > svg {
    margin: 0;
}

.memori-icon,.memori-icon-close {
    width: 25px;
    height: 25px;
}

.memori-icon-close{
  fill: white;
}


@media (max-width: 768px) {
    .memori-sidebar-container {
        display: none;
    }

    .memori-sidebar {
        right: -100%;
        width: 100%;
    }

    .memori-sidebar-toggle:checked ~ .memori-sidebar-container .memori-open-label {
        transform: translateY(-50%) translateX(100%);
    }

    .memori-close-label {
        right: 100%;
    }
}
