.memori-website_assistant--trigger {
    position: fixed;
    right: 0.5em;
    bottom: 0.5em;
    display: flex;
}

.memori-website_assistant--trigger-button {
    position: relative;
    width: 120px;
    height: 120px;
    padding: 1em;
    cursor: pointer;
}

@media (max-width: 600px) {
    .memori-website_assistant--trigger-button {
        width: 80px;
        height: 80px;
        padding: 1em;
    }
}

.memori-website_assistant--close-button-wrapper {
    position: absolute;
    z-index: 1;
    top: 100%;
    right: 0;
}

.memori-website_assistant--close-button-wrapper button.memori-website_assistant--close-button {
    padding: 1rem;
    font-size: 16px;
}

.memori-website_assistant--trigger-button .memori-blob {
    position: relative !important;
    top: 50% !important;
    left: 50% !important;
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
}

.memori-website_assistant--trigger-button .memori-blob .mainDiv {
    width: 120px !important;
    height: 120px !important;
    box-shadow: 0 0 0.5em 0.2em rgba(0, 0, 0, 0.85) inset, 0 0 0.15em 0 rgba(255, 255, 255, 0.85);
}

.memori-website_assistant--trigger-button .memori-blob,
.memori-website_assistant--trigger-button .memori-blob .mainDiv,
.memori-website_assistant--trigger-button .memori-blob figure {
    pointer-events: none;
    touch-action: none;
}

@media (max-width: 768px) {
    .memori-website_assistant--trigger-button .memori-blob {
        min-height: 0;
    }

    .memori-website_assistant--trigger-button .memori-blob figure {
        position: absolute;
        transform: translate(-50%, -50%);
    }

    .memori-website_assistant--trigger-button .memori-blob .mainDiv:nth-of-type(1) {
        --memori-blob-x: -53%;
        --memori-blob-y: -53%;
        --memori-blob-t: 37;
    }

    .memori-website_assistant--trigger-button .memori-blob .mainDiv:nth-of-type(2) {
        --memori-blob-x: -47%;
        --memori-blob-y: -52%;
        --memori-blob-t: 58;
    }

    .memori-website_assistant--trigger-button .memori-blob .mainDiv:nth-of-type(3) {
        --memori-blob-x: -45%;
        --memori-blob-y: -50%;
        --memori-blob-t: 46;
    }

    .memori-website_assistant--trigger-button .memori-blob .mainDiv:nth-of-type(4) {
        --memori-blob-x: -53%;
        --memori-blob-y: -45%;
        --memori-blob-t: 72;
    }

    .memori-website_assistant--trigger-button .memori-blob .mainDiv:nth-of-type(5) {
        --memori-blob-x: -55%;
        --memori-blob-y: -45%;
        --memori-blob-t: 62;
    }
}

@media (max-width: 600px) {
    .memori-website_assistant--trigger-button .memori-blob .mainDiv {
        width: 80px !important;
        height: 80px !important;
    }
}

.memori-website_assistant--trigger-button .memori-blob figure {
    width: 85%;
    border-radius: 0;
    opacity: 0.75;
}

.memori-website_assistant-layout .memori--powered-by {
    top: calc(100% + 10px);
    right: auto;
    left: 0;
}

.memori-widget.memori-layout-website_assistant {
    position: relative;
    z-index: 10;
    font-size: 14px;
}

.memori-widget.memori-layout-website_assistant .memori-website_assistant--collapsed,
.memori-widget.memori-layout-website_assistant .memori-website_assistant--expanded {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 30vw !important;
    min-width: 320px !important;
    max-width: 100vw;
    height: 100% !important;
    max-height: 0;
    transition: all 0.3s ease-in-out;
}

.memori-widget.memori-layout-website_assistant .memori-website_assistant--expanded {
    max-height: 60vh !important;
    margin-bottom: 60px;
}

@keyframes showup {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.memori-widget.memori-layout-website_assistant .memori-website_assistant--expanded .memori-website_assistant-layout {
    animation: showup 0.3s ease-in-out;
}


@media (max-width: 600px) {
    .memori-widget.memori-layout-website_assistant .memori-website_assistant--expanded {
        min-width: 100% !important;
    }
}

.memori-widget.memori-layout-website_assistant .memori--global-background {
    background: none;
}

.memori-widget .memori-spin.memori-website_assistant-layout {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.memori-website_assistant-layout--header {
    position: absolute;
    z-index: 1000;
    top: 0;
    right: 0;
    text-align: right;
}

.memori-widget.memori-layout-website_assistant .memori-share-button .memori-share-button--overlay {
    z-index: 1000;
    top: -6rem;
}

.memori-widget.memori-layout-website_assistant .memori-header--button--fullscreen {
    display: none;
}

.memori-website_assistant-layout--avatar {
    flex: 1;
}

.memori-website_assistant-layout--avatar .memori--avatar-wrapper {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.memori-website_assistant-layout--avatar .memori--blob-container {
    display: block;
}

@media (max-width: 480px) {
    .memori-website_assistant-layout--avatar .memori--blob-container {
        display: block;
    }
}

@media (max-width: 870px) {
    .memori-website_assistant-layout--avatar .memori--blob-container {
        display: block;
    }
}

.memori-website_assistant-layout .memori-header {
    position: relative;
    z-index: 1000;
    display: inline-flex;
    width: auto;
    height: auto;
    flex-direction: column;
}

.memori-website_assistant-layout .memori-header .memori-share-button,
.memori-website_assistant-layout .memori-header .memori-header--button+.memori-header--button {
    margin-top: 0.25rem;
    margin-left: 0;
}

.memori-website_assistant-layout .memori-chat--cover {
    display: none;
}

.memori-website_assistant-layout .memori--cover {
    padding: 0;
    background: none;
}

.memori-website_assistant-layout .memori-chat--bubble-initial+.memori-chat--bubble-container {
    margin-top: auto;
}

.memori-website_assistant-layout--controls {
    position: relative;
    z-index: 5;
    display: flex;
    height: calc(100% - 60px);
    flex-direction: column;
    justify-content: flex-end;
}

.memori-website_assistant-layout--controls .memori-chat--history,
.memori-website_assistant-layout--controls .memori-chat--content {
    background: transparent;
}

.memori-website_assistant-layout--controls .memori-chat--history {
    padding: 0;
    margin-top: 0;
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
}

.memori-website_assistant-layout--controls .memori-chat--content {
    padding: 0;
}

.memori-website_assistant-layout--controls .memori-chat--content .memori-chat--bubble-container:first-of-type {
    margin-top: auto;
}

.memori-website_assistant-layout--controls .memori--start-panel,
.memori-website_assistant-layout--controls .memori-chat--wrapper {
    width: 100%;
    max-width: 800px;
    padding: 1rem;
    margin: 0 auto;
}

.memori-website_assistant-layout--controls .memori-chat--wrapper {
    height: calc(100% - 1rem);
}

.memori-website_assistant-layout--controls .memori--start-panel {
    margin: 1rem;
}

@media (max-width: 870px) {

    .memori-website_assistant-layout--controls .memori--start-panel,
    .memori-website_assistant-layout--controls .memori-chat--wrapper {
        width: 100%;
    }

    .memori-website_assistant-layout--controls .memori-chat--wrapper {
        padding: 0;
    }
}

@media (max-width: 480px) {
    .memori-website_assistant-layout .memori-send-on-enter-menu {
        display: none;
    }

    .memori-website_assistant-layout .memori-header--button-settings {
        display: none;
    }
}

.memori-website_assistant-layout .memori--avatar-toggle {
    display: none;
    width: 100%;
    justify-content: center;
}

.memori-website_assistant-layout .memori--title,
.memori-website_assistant-layout .memori--description,
.memori-website_assistant-layout .memori--needsPosition {
    color: var(--memori-text-color);
}

.memori-website_assistant-layout .memori--global-background-image {
    background: none;
}

.memori-website_assistant-layout--avatar .memori-blob {
    z-index: 2;
}

.memori-website_assistant-layout--avatar .memori--avatar-wrapper .avatar-loader {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    transform: none !important;
}

.memori-layout-website_assistant .memori--avatar-wrapper>div {
    overflow: visible !important;
    /* width: 100% !important;
    height: 100% !important; */
    width: auto !important;
    height: 90% !important;
    max-height: 90%;
    border-radius: 0;
}

.memori-layout-website_assistant .memori--avatar-wrapper>div canvas+div {
    position: absolute !important;
    width: 100%;
    height: 100%;
    transform: none !important;
}

.memori-layout-website_assistant.memori--avatar-readyplayerme-full .memori--avatar-wrapper>div {
    transform: scale(1.7) translate(0px, 10vh);
}

.memori-website_assistant-layout--avatar .memori--avatar-wrapper canvas {
    width: auto !important;
    max-width: 100%;
    height: 100% !important;
    max-height: 100%;
}

.memori-website_assistant-layout--avatar .memori--avatar-wrapper .avatar-loader figure {
    text-align: center;
}

.memori-layout-website_assistant.memori--avatar-readyplayerme .memori-website_assistant--trigger-button .memori-blob figure {
    width: 100%;
}

.memori-website_assistant-layout--avatar .memori--avatar-wrapper .avatar-loader .memori-spin--spinner {
    background: none;
}

.memori-website_assistant-layout .memori--description-text,
.memori-website_assistant-layout .memori--translation-toggle {
    display: none;
}

.memori-website_assistant-layout .memori-chat--bubble,
.memori-website_assistant-layout .memori-chat--bubble.memori-chat--user-bubble {
    opacity: 0.6;
    transition: opacity 0.2s ease-in-out;
}

.memori-website_assistant-layout .memori-chat--bubble p,
.memori-website_assistant-layout .memori-chat--bubble.memori-chat--user-bubble p {
    opacity: 1;
}

.memori-website_assistant-layout .memori-chat--bubble:hover,
.memori-website_assistant-layout .memori-chat--bubble.memori-chat--user-bubble:hover {
    opacity: 1;
}