.memori-header {
    position: relative;
    width: calc(50% - 1rem);
    height: 50px;
    padding: calc(var(--memori-inner-content-pad) / 4) calc(var(--memori-inner-content-pad) / 2);
    border-radius: 10px;
    margin-left: auto;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: var(--memori-inner-bg, #fff);
    text-align: right;
}

@media (max-width: 870px) {
    .memori-header {
        width: 100%;
        margin-left: 0;
    }
}

.memori-header--button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.memori-header--button + .memori-header--button {
    margin-left: 0.25rem;
}

.memori-header--button[disabled]:not(.memori-header--button--knownfacts) {
    border: 0;
    cursor: not-allowed;
    opacity: 0.5;
    pointer-events: none;
}

.memori-header--button svg {
    width: 1em;
    height: 1em;
    font-size: 1em;
    line-height: 1;
}

.memori-header--button.memori-header--button--experts svg {
    fill: currentColor;
}

.memori-header--position {
    display: inline-flex;
    align-items: center;
}

.memori-header--position .memori-header--position-placeName {
    display: inline-block;
    overflow: hidden;
    max-width: 250px;
    padding-right: 0.25rem;
    margin: 0;
    font-style: italic;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media (max-width: 768px) {
    .memori-header--position .memori-header--position-placeName {
        display: none;
    }
}

.memori-header--position .memori-header--button {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.memori-header .memori-header--button--position,
.memori-header .memori-share-button,
.memori-header .memori-header--button-login {
    margin-left: 0.25rem;
}

.memori-header .memori-header--button--position {
    margin-right: 0.25rem;
}


.memori-dropdown--avatar-input{
    position: absolute;
    top: 20px;
    left: 15px;
    width: 48px;
    height: 48px;
    cursor: pointer;
    opacity: 0;
}



.memori-dropdown--avatar:hover, .memori-dropdown--avatar-initial:hover, .memori-dropdown--avatar-input:hover{
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    pointer-events: cursor;
    transform: scale(1.05);
}

.memori-dropdown--avatar-initial:hover + .memori-dropdown--avatar-input,.memori-dropdown--avatar:hover + .memori-dropdown--avatar-input{
    display: block;
}