.memori-header {
    position: relative;
    z-index: 1000;
    display: inline-flex;
    width: calc(50% - 1rem);
    height: 50px;
    align-items: center;
    justify-content: flex-end;
    padding: calc(var(--memori-spacing-md) / 4) calc(var(--memori-spacing-md) / 2);
    border-radius: var(--memori-radius-box);
    margin-left: auto;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    gap: 0.25rem;
    text-align: right;
}

.memori-totem-layout .memori-header {
    gap: calc(var(--memori-spacing-xs) + 2px);
}

.memori-dropdown--user-info {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    gap: 0.5rem;
}

.memori-dropdown--user-trigger {
    display: flex;
    max-width: 2rem;
    max-height: 2rem;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
}

.memori-dropdown--avatar {
    width: 48px;
    height: 48px;
    border: 2px solid var(--memori-primary-color, #000);
    border-radius: 50%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    object-fit: cover;
    object-position: center;
}

@media (max-width: 870px) {
    .memori-header {
        width: 100%;
        margin-left: 0;
    }
}

.memori-header--button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.memori-header--button + .memori-header--button {
    margin-left: 0.25rem;
}

.memori-header--button[disabled]:not(.memori-header--button--knownfacts) {
    border: 0;
    cursor: not-allowed;
    opacity: 0.5;
    pointer-events: none;
}

.memori-header--button svg {
    width: 1em;
    height: 1em;
    font-size: 1em;
    line-height: 1;
}

.memori-header--button.memori-header--button--experts svg {
    fill: currentColor;
}

.memori-header--position {
    display: inline-flex;
    align-items: center;
}

.memori-header--position .memori-header--position-placeName {
    display: inline-block;
    overflow: hidden;
    max-width: 250px;
    padding-right: 0.25rem;
    margin: 0;
    font-style: italic;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media (max-width: 768px) {
    .memori-header--position .memori-header--position-placeName {
        display: none;
    }
}

@media (max-width: 425px) {
    .memori-header--button {
        padding: 0.785rem;
    }
    .memori-chat-layout--header {
        margin-bottom: 0;
    }
}

.memori-header--position .memori-header--button {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.memori-header .memori-header--button--position,
.memori-header .memori-share-button,
.memori-header .memori-header--button-login,
.memori-header--dropdown {
    margin-left: 0.25rem;
}

.memori-header .memori-header--button--position {
    margin-right: 0.25rem;
}

.memori-dropdown--avatar-input {
    position: absolute;
    top: 20px;
    left: 15px;
    width: 48px;
    height: 48px;
    cursor: pointer;
    opacity: 0;
}

.memori-dropdown--avatar:hover,
.memori-dropdown--avatar-initial:hover,
.memori-dropdown--avatar-input:hover {
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    pointer-events: cursor;
    transform: scale(1.05);
}

.memori-dropdown--avatar-initial:hover + .memori-dropdown--avatar-input,
.memori-dropdown--avatar:hover + .memori-dropdown--avatar-input {
    display: block;
}
