.attachment-link-modal,
.attachment-link-modal * {
    box-sizing: border-box;
}

.attachment-link-modal--label {
    display: inline-block;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.attachment-link-modal--centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.attachment-link-modal--input {
    width: 100%;
    padding: 0.5rem 0.75rem;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    margin-bottom: 1rem;
    background: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.attachment-link-modal--row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.attachment-link-modal--column {
    display: flex;
    width: 50%;
    flex-direction: column;
    padding: 0.5rem;
    margin-right: 1rem;
}

.attachment-link-modal--column + .attachment-link-modal--column {
    margin-right: 0;
    margin-left: 1rem;
}

@media (max-width: 768px) {
    .attachment-link-modal--row {
        flex-direction: column;
    }

    .attachment-link-modal--column {
        width: 100%;
        margin-right: 0;
        margin-bottom: 1rem;
        margin-left: 0;
    }
    .attachment-link-modal--column + .attachment-link-modal--column {
        margin-left: 0;
    }
}

.attachment-link-modal a.memori-link-item--link {
    display: inline-block;
    width: 100%;
    max-width: 400px;
    margin: 0.5rem 1rem;
}
