.memori-link-items--grid {
    display: grid;
    padding: 1rem;
    grid-auto-flow: dense;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.memori-link-item--card {
    height: 100%;
    margin-bottom: 1rem;
}

.memori-link-item--card .memori-card--cover {
    height: auto;
    text-align: center;
}

.memori-link-item--card .memori-card--cover img {
    min-width: 100%;
    min-height: 100%;
    object-fit: contain;
}

a.memori-link-item--link {
    text-decoration: none;
}

.memori-link-item--card-cover-icon {
    padding: 1rem;
}

.memori-link-item--icon {
    width: 50%;
    height: 50%;
}