.memori-send-on-enter-menu {
    position: relative;
    display: inline-block;
}

.memori--conversation-button {
    cursor: pointer;
}

.memori-menu--overlay {
    position: absolute;
    top: 100%;
    right: 0;
    left: auto;
    display: flex;
    min-width: 12rem;
    flex-direction: column;
    padding: 0.5rem 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: var(--memori-radius-box);
    margin: 0;
    margin-top: var(--memori-spacing-sm);
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
    color: var(--memori-text-color);
    list-style: none;
    outline: none;
    transform-origin: top right;
}

.memori-menu--option {
    display: flex;
    align-items: center;
    justify-content: center;
}

.memori-menu--button {
    width: 100%;
    justify-content: flex-start;
    color: inherit;
    text-align: left;
    text-decoration: none;
}

.memori-menu--icon {
    width: 1em;
}
