.memori-settings-drawer .memori-settings-drawer--field {
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0;
}

.memori-settings-drawer .memori-settings-drawer--field .memori-select--value {
    color: var(--memori-text-color);
}

.memori-settings-drawer--controlsposition-radio,
.memori-settings-drawer--avatarType-radio,
.memori-settings-drawer--microphoneMode-radio {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0.5rem 0;
    gap: var(--memori-spacing-xs);
}

.memori-settings-drawer--microphoneMode-radio-button-disabled {
    cursor: not-allowed;
    opacity: 0.5;
}
