.memori-auth-widget--form {
    padding: var(--memori-spacing-md);
}

.memori-auth-widget--form fieldset {
    padding: 0;
    border: 0;
    margin: 0 0 1em;
}

.memori-auth-widget--form hr {
    border-top: 0;
    border-bottom: 1px solid #e0e0e0;
}

.memori-auth-widget--form label {
    display: flex;
    flex-direction: column;
}

input.memori-auth-widget--input {
    min-height: 2.5rem;
    border: 1px solid #e0e0e0;
    border-radius: var(--memori-radius-box);
    appearance: none;
    background: inherit;
    font-size: var(--memori-text-size-base);
    outline: transparent solid 2px;
    outline-offset: 2px;
    padding-inline-end: 1rem;
    padding-inline-start: 1rem;
    transition-duration: 0.2s;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
}

input.memori-auth-widget--input::placeholder {
    color: var(--memori-text-color);
}

input.memori-auth-widget--input:hover {
    border-color: #c0c0c0;
}

input.memori-auth-widget--input:focus {
    border-color: var(--memori-primary);
}

.memori-auth-widget--token {
    display: block;
    margin-bottom: var(--memori-spacing-sm);
}

.memori-auth-widget--error {
    padding: var(--memori-spacing-lg) var(--memori-spacing-xl);
    border: 1px solid currentColor;
        border-radius: var(--memori-radius-box);
        margin-top: var(--memori-spacing-sm);
    margin-bottom: var(--memori-spacing-lg);
    background-color: rgba(255, 235, 238, 0.5);
    color: var(--memori-text-color);
}
