.memori-expandable {
    line-height: 1;
}

.memori-expandable--inner {
    overflow: hidden;
    max-height: 9999px;
    transition: max-height 0.2s ease-in-out;
}

.memori-expandable>button {
    color: var(--memori-primary, #333);
    font-size: 0.9em;
    text-decoration: underline
}
