/* stylelint-disable no-descending-specificity */

.memori-tooltip {
    position: relative;
    z-index: 1000;
    display: inline-block;
}

.memori-tooltip--content {
    position: absolute;
    z-index: 1000;
    top: 50%;
    left: 100%;
    display: none;
    width: auto;
    min-width: 200px;
    padding: 10px;
    border-radius: 10px;
    margin-left: 15px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    font-size: 0.85em;
    opacity: 0;
    text-align: center;
    transform: none;
    transition: 0.3s 0.1s all ease;
}

.memori-tooltip.memori-tooltip--align-left .memori-tooltip--content,
.memori-tooltip.memori-tooltip--align-topLeft .memori-tooltip--content {
    right: 100%;
    left: initial;
    margin: initial;
    margin-right: 15px;
}

.memori-tooltip .memori-tooltip--content::before {
    position: absolute;
    top: 50%;
    left: -15px;
    display: none;
    border: 10px solid rgba(0, 0, 0, 0.8);
    border-color: transparent rgba(0, 0, 0, 0.8) transparent transparent;
    margin-left: -5px;
    content: '';
    opacity: 0;
    transform: translateY(-50%);
    transition: 0.3s;
}


.memori-tooltip.memori-tooltip--align-left .memori-tooltip--content::before {
    right: -15px;
    left: auto;
    border-color: transparent transparent transparent rgba(0, 0, 0, 0.8);
    margin-right: -5px;
    margin-left: 0;
}

.memori-tooltip.memori-tooltip--align-topRight .memori-tooltip--content::before {
    top: 100%;
    right: auto;
    left: 10px;
    border-color: rgba(0, 0, 0, 0.8) transparent transparent transparent;
    margin-top: 10px;
    margin-left: 5px;
}

.memori-tooltip:not(.memori-tooltip--disabled).memori-tooltip--visible .memori-tooltip--content,
.memori-tooltip:not(.memori-tooltip--disabled).memori-tooltip--visible .memori-tooltip--content::before {
    display: block;
    opacity: 1;
}

.memori-tooltip:not(.memori-tooltip--disabled).memori-tooltip--visible .memori-tooltip--content,
.memori-tooltip:not(.memori-tooltip--disabled):not(.memori-tooltip--visible):hover .memori-tooltip--content {
    transform: translateY(-50%);
}

.memori-tooltip:not(.memori-tooltip--visible):not(.memori-tooltip--disabled):hover .memori-tooltip--content,
.memori-tooltip:not(.memori-tooltip--visible):not(.memori-tooltip--disabled):hover .memori-tooltip--content::before {
    display: block;
    opacity: 1;
}

.memori-tooltip.memori-tooltip--align-topRight:not(.memori-tooltip--disabled).memori-tooltip--visible
    .memori-tooltip--content,
.memori-tooltip.memori-tooltip--align-topRight:not(.memori-tooltip--disabled):not(.memori-tooltip--visible):hover
    .memori-tooltip--content {
    transform: translateY(-150%) translateX(-33%);
}

.memori-tooltip.memori-tooltip--align-topLeft .memori-tooltip--content::before {
    top: 100%;
    right: 10px;
    left: auto;
    border-color: rgba(0, 0, 0, 0.8) transparent transparent transparent;
    margin-top: 10px;
    margin-left: 5px;
}

.memori-tooltip.memori-tooltip--align-topLeft:not(.memori-tooltip--disabled).memori-tooltip--visible
    .memori-tooltip--content,
.memori-tooltip.memori-tooltip--align-topLeft:not(.memori-tooltip--disabled):not(.memori-tooltip--visible):hover
    .memori-tooltip--content {
    transform: translateY(-150%) translateX(33%);
}

.memori-tooltip:not(.memori-tooltip--disabled).memori-tooltip--visible .memori-tooltip--content a,
.memori-tooltip:not(.memori-tooltip--disabled):not(.memori-tooltip--visible):hover .memori-tooltip--content a {
    color: #fff;
    text-decoration: underline;
}

.memori-tooltip.memori-tooltip--disabled {
    cursor: not-allowed;
}

.memori-tooltip.memori-tooltip--align-bottomLeft .memori-tooltip--content,
.memori-tooltip.memori-tooltip--align-bottomRight .memori-tooltip--content {
    top: 100%;
    right: initial;
    left: 50%;
    margin: initial;
    margin-top: 15px;
}

.memori-tooltip.memori-tooltip--align-bottomLeft .memori-tooltip--content::before {
    z-index: 1001;
    top: -15px;
    bottom: initial;
    left: 66%;
    border-color: transparent transparent rgba(0, 0, 0, 0.8) transparent;
    margin-top: 0px;
    margin-bottom: initial;
    margin-left: 5px;
}

.memori-tooltip.memori-tooltip--align-bottomRight .memori-tooltip--content::before {
    z-index: 1001;
    top: -15px;
    right: 10px;
    bottom: initial;
    left: auto;
    border-color: transparent transparent rgba(0, 0, 0, 0.8) transparent;
    margin-top: -5px;
    margin-right: 5px;
    margin-bottom: initial;
}

.memori-tooltip.memori-tooltip--align-bottomLeft:not(.memori-tooltip--disabled).memori-tooltip--visible
    .memori-tooltip--content,
.memori-tooltip.memori-tooltip--align-bottomLeft:not(.memori-tooltip--disabled):not(.memori-tooltip--visible):hover
    .memori-tooltip--content {
    transform: translateX(-73%);
}

.memori-tooltip.memori-tooltip--align-bottomRight:not(.memori-tooltip--disabled).memori-tooltip--visible
    .memori-tooltip--content,
.memori-tooltip.memori-tooltip--align-bottomRight:not(.memori-tooltip--disabled):not(.memori-tooltip--visible):hover
    .memori-tooltip--content {
    transform: translateX(33%);
}